html, body {
    height: 100%;
}
html {
    font: 14px Roboto, Helvetica, Arial, sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
svg:not(:root) {
    overflow: hidden;
}
button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],html input[disabled] {
    cursor: default;
}
textarea {
    overflow: auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,th {
    padding: 0;
}

.image {
    border: 0;
}
.link {
    text-decoration: none;
    color: #546BB3;
    outline: none;
}
.link:hover, .link:visited:hover {
    color: #d00;
}
.link_type_block {
    display: block;
}
.page-root {
    background-color: #f7f8f6;
}
.header-wrapper {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #e1e2e0;
    width: 100%;
    position: relative;
}
.header-wrapper_position_fixed {
    position: fixed;
}
.header {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
    overflow: hidden;
}
.header__row {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row nowrap;
}
.header__logo, .header__name, .header__links-list {
    height: 100%;
}
.header__logo .link {
    height: 100%;
    padding: 0 24px;
}
.header__logo-image {
    margin-top: 22px;
}
.service-name {
    margin-right: 9px;
}
.service-name__container {
    background-color: #fc0;
    padding: 2px;
    position: relative;
}
.service-name__container:before {
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: inherit;
    content: '';
    top: 0;
    right: -17px;
    -webkit-transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
    -ms-transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
    transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
}
.service-name__inner {
    font-size: 17px;
    background-color: #fff;
    padding: 5px 12px 5px 15px;
    white-space: nowrap;
}
.service-name__inner:before {
    position: absolute;
    background-color: inherit;
    height: 30px;
    width: 30px;
    content: '';
    top: 2px;
    right: -14px;
    -webkit-transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
    -ms-transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
    transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
    z-index: 2;
}
.service-name__inner:after {
    position: absolute;
    background-color: inherit;
    height: 30px;
    width: 8px;
    content: '';
    top: 2px;
    right: 1px;
    z-index: 1;
}
.header__name-link {
    color: #000;
    margin-top: 23px;
}