html, body {
    min-height: 100%;
    height: 100%;
}
html {
    font: 14px Roboto, Helvetica, Arial, sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    -webkit-font-smoothing: antialiased;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
svg:not(:root) {
    overflow: hidden;
}
button,html input[type=button],input[type=reset],input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],html input[disabled] {
    cursor: default;
}
textarea {
    overflow: auto;
}

.image {
    border: 0;
}
.link {
    text-decoration: none;
    color: #546BB3;
    outline: none;

    -webkit-transition: color .1s ease-out;
    -moz-transition: color .1s ease-out;
    -ms-transition: color .1s ease-out;
    -o-transition: color .1s ease-out;
    transition: color .1s ease-out;
}
.icon {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transition: transform .1s ease-out;
}
.table {
    border-collapse: collapse;
    border-spacing: 0;
}
.link:hover, .link:visited:hover {
    color: #d00;
}
.link_type_block {
    display: block;
}
.page-root {
    min-height: 100%;
    background-color: #f7f8f6;
}
.header-wrapper {
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid #e1e2e0;
    width: 100%;
    position: relative;
    z-index: 100;
}
.header-wrapper_position_fixed {
    position: fixed;
}
.header {
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.header__row {
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.header__logo, .header__name, .header__links-list {
    height: 100%;
}
.header__name .link:hover {
    color: #000;
}
.header__logo .link {
    height: 100%;
    padding: 0 24px;
}
.header__logo-image {
    margin-top: 22px;
}
.service-name {
    margin-right: 9px;
}
.service-name__container {
    background-color: #fc0;
    padding: 2px;
    position: relative;
}
.service-name__container:before {
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: inherit;
    content: '';
    top: 0;
    right: -17px;
    -webkit-transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
    -ms-transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
    transform: rotate(45deg) skew(18deg, 17deg) scale(0.54);
}
.service-name__inner {
    font-size: 17px;
    background-color: #FFF;
    padding: 7px 12px 6px 15px;
    white-space: nowrap;
    line-height: 1;
}
.service-name__inner:before {
    position: absolute;
    z-index: 2;
    background-color: inherit;
    height: 20px;
    width: 30px;
    content: '';
    top: 7px;
    right: -14px;
    -webkit-transform: rotate(62deg) matrix3d(1.20, 0, 0, 0, 1, 1.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.48);
    -ms-transform: rotate(62deg) matrix3d(1.20, 0, 0, 0, 1, 1.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.48);
    transform: rotate(62deg) matrix3d(1.20, 0, 0, 0, 1, 1.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) scale(0.48);
}
.service-name__inner:after {
    position: absolute;
    z-index: 1;
    background-color: inherit;
    height: 30px;
    width: 8px;
    content: '';
    top: 2px;
    right: 1px;
}
.header__name-link {
    color: #000;
    margin-top: 23px;
}
.header__link-list {
    padding: 0 30px;
    margin-top: 32px;
}
.header__link-item .link {
    color: #B5B5B5;
}
.header__link-item .link:hover {
    color: #546BB3;
}
.header__link-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.header__link-item {
    margin: 0 15px;
}
.body-wrapper {
    width: 100%;
    padding: 80px 0 0;
}
.body {
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 1000px;
}
.header, .body {
    max-width: 1200px;
    min-width: 300px;
}
.body__inner {
    padding: 20px;
}
.component-block {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 5px -5px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
    padding: 20px;
}
.title {
    font-weight: 300;
    font-size: 1.5em;
    margin: 0 0 10px;
}
.title_size_large {
    font-size: 2em;
}
.title_size_small {
    font-size: 1.2em;
}
.aero-table__title {
    text-align: left;
}
.aero-table__flight-types {
    margin-top: 20px;
}
.checkbox-group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
}
.checkbox-button {
    position: relative;
    padding: 6px 15px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-color: #ccc;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: border .1s ease-out, box-shadow .05s ease-out;
    -moz-transition: border .1s ease-out, box-shadow .05s ease-out;
    -ms-transition: border .1s ease-out, box-shadow .05s ease-out;
    -o-transition: border .1s ease-out, box-shadow .05s ease-out;
    transition: border .1s ease-out, box-shadow .05s ease-out;
}
.checkbox-button_bound_left, .checkbox-button_bound_right {
    border-radius: 3px;
}
.checkbox-button_bound_left {
    border-left: 1px solid #ccc;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.checkbox-button_bound_right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.checkbox-button__text {
    text-align: center;
}
.checkbox-button__input {
    position: absolute;
    left: -10000px;
    opacity: 0;
}
.checkbox-button_pressed, .checkbox-button:active {
    border-color: rgba(192, 149, 0, 0.94);
    background: #FFECA6;
}
.checkbox-button_pressed:not(.checkbox-button_bound_left):not(.aero-table__col) {
    -webkit-box-shadow: -1px 0 0 0 rgba(192, 149, 0, 0.94);
    -moz-box-shadow: -1px 0 0 0 rgba(192, 149, 0, 0.94);
    box-shadow: -1px 0 0 0 rgba(192, 149, 0, 0.94);
}
.checkbox-button:active.checkbox-button_bound_left:not(.checkbox-button_pressed).checkbox-button:hover {
    box-shadow: none;
    border-left: 1px solid #ababab;
}
.checkbox-button:active.checkbox-button_bound_left:not(.checkbox-button_pressed) {
    box-shadow: none;
    border-left: 1px solid rgba(192, 149, 0, 0.94);
}
.checkbox-button:active:not(.checkbox-button_pressed):not(.checkbox-button_pressed.aero-table__col).checkbox-button:hover {
    -webkit-box-shadow: -1px 0 0 0 #ababab;
    -moz-box-shadow: -1px 0 0 0 #ababab;
    box-shadow: -1px 0 0 0 #ababab;
}
.checkbox-button:active:not(.checkbox-button_pressed) {
    -webkit-box-shadow: -1px 0 0 0 rgba(192, 149, 0, 0.94);
    -moz-box-shadow: -1px 0 0 0 rgba(192, 149, 0, 0.94);
    box-shadow: -1px 0 0 0 rgba(192, 149, 0, 0.94);
}
.checkbox-button:active.checkbox-button_pressed {
    background-color: #f4e29e;
}
.checkbox-button:hover:not(.checkbox-button_pressed):not(.checkbox-button_bound_left):not(.aero-table__col) {
    border-color: #ababab;
    -webkit-box-shadow: -1px 0 0 0 #ababab;
    -moz-box-shadow: -1px 0 0 0 #ababab;
    box-shadow: -1px 0 0 0 #ababab;
}
.checkbox-button:hover.checkbox-button_bound_left:not(.checkbox-button_pressed) {
    border-color: #ababab;
}
.aero-table__col.checkbox-button:hover {
    border-color: #ababab;
    -webkit-box-shadow: inset 1px 0 0 0 #ababab;
    -moz-box-shadow: inset 1px 0 0 0 #ababab;
    box-shadow: inset 1px 0 0 0 #ababab;
    border-left: 0;
}

.aero-table__table {
    width: 100%;
}
.aero-table__row {
    padding: 0;
    opacity: 1;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}
.aero-table__row:nth-of-type(2n + 1) {
    background-color: rgba(0,0,0,0.02);
}
.aero-table__col {
    padding: 10px;
    max-width: 100px;
    overflow: hidden;
}
.aero-table__col_purpose_title {
    font-weight: 700;
    font-size: 1.1em;
}
.aero-table__row_animate_hidden .aero-table__col {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    -webkit-transition: padding .15s ease-out;
    -moz-transition: padding .15s ease-out;
    -ms-transition: padding .15s ease-out;
    -o-transition: padding .15s ease-out;
    transition: padding .15s ease-out;
}
.aero-table__row.aero-table__row_animate_hidden {
    opacity: 0;
}
.aero-table__row_hidden {
    display: none;
}
.aero-table__col {
    border: 1px solid #e3e3e3;
}
.aero-table__company-logo .image {
    max-width: 100%;
}
.aero-table__company-logo_size_quad .image {
    max-width: 36px;
    height: 36px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #ccc;
}
.aero-table__company-logo_size_quad {
    display: inline-block;
    vertical-align: middle;
    margin: 4px;
}
.aero-table__company-name {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    position: relative;
}
.aero-table__col {
    text-align: center;
}
.aero-table__arrow-icon {
    background-image: url(../img/icons/ic_arrow_drop_down_grey600_24dp.png);
    height: 14px;
    top: 3px;
    opacity: 0.6;
}
.checkbox-button_pressed .aero-table__arrow-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.aero-table__status {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
}
.aero-table__status_type_success {
    border: 1px solid rgba(9, 129, 0, 0.93);
    background-color: rgba(9, 165, 0, 0.61);
}
.aero-table__status_type_failed {
    border: 1px solid rgba(180, 39, 33, 0.83);
    background-color: rgba(238, 49, 42, 0.64);
}
.aero-table__status_type_freeze {
    border: 1px solid rgba(162, 129, 0, 0.93);
    background-color: rgba(221, 175, 0, 0.61);
}


.hide,
.show-ls-lg-1, .show-ls-lg-2, .show-ls-lg-1_inline, .show-ls-lg-2_inline,
.show-ls-md-1, .show-ls-md-2,
.show-ls-sm-1, .show-ls-sm-2 {
    display: none;
}
@media screen and (max-width: 999px) {
    .hide-ls-lg-1 {
        display: none;
    }
    .show-ls-lg-1 {
        display: block;
    }
    .show-ls-lg-1_inline {
        display: inline-block;
    }
}
@media screen and (max-width: 900px) {
    .hide-ls-lg-2 {
        display: none;
    }
    .show-ls-lg-2 {
        display: block;
    }
    .show-ls-lg-2_inline {
        display: inline-block;
    }
}
@media screen and (max-width: 800px) {
    .hide-ls-md-1 {
        display: none;
    }
    .show-ls-md-1 {
        display: block;
    }
}
@media screen and (max-width: 700px) {
    .hide-ls-md-2 {
        display: none;
    }
    .show-ls-md-2 {
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .hide-ls-sm-1 {
        display: none;
    }
    .show-ls-sm-1 {
        display: block;
    }
    .title_size_normal-sm-1 {
        font-size: 1.5em;
    }
    .title_size_small-sm-1 {
        font-size: 1.2em;
    }
    .body__inner {
        padding: 20px 0;
    }
}
@media screen and (max-width: 400px) {
    .hide-ls-sm-2 {
        display: none;
    }
    .show-ls-sm-2 {
        display: block;
    }
    .title_size_normal-sm-2 {
        font-size: 1.5em;
    }
    .title_size_small-sm-2 {
        font-size: 1.2em;
    }
    .aero-table__col {
        padding: 10px 2px;
    }
    .checkbox-button__text, .aero-table {
        font-size: 0.8em;
    }
    .checkbox-button {
        padding: 5px 13px;
    }
}